<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="modernhttpclient" version="2.3.0" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="wpa81" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="wpa81" />
  <package id="Tsl.AsciiProtocol.Pcl" version="1.2.2" targetFramework="wpa81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="1.4.3.6358-pre2" targetFramework="wpa81" />
  <package id="Xamarin.Forms.Windows" version="1.4.3.6358-pre2" targetFramework="wpa81" />
  <package id="XamlingCore" version="2.0.138" targetFramework="wpa81" />
</packages>